
/* selector -> llaves -> propiedad : valor */


/* selector universal: Selecciona todos los elementos de HTML. */
*{
    margin: 10px; /*margin establece el margen para los cuatro lados*/
    padding: 5px; /*padding establece el espacio de relleno*/
    background-color: lightgreen; /*cambia el color de relleno*/
    font-family: Verdana; /*cambia el tipo de letra*/
}


/* selector de etiqueta o tipo: Se utiliza para seleccionar una etiqueta específica. */

/* body{
    background-color:wheat;
}
 */
p {
    color: black;
    font-style: italic;
    font-size: 130%;
}


/* selector de clase: Se utiliza agregando el atributo class a los elementos que queramos aplicarles estilos.  */

.parrafo2{
    color: red;
}

/* selector de identificador (id): Similar a .class pero solo se aplica a una etiqueta individual. */
#identificador {
    color: violet;
}
